<%- include('partials/header') %>

    <script>
        var link = document.createElement('link');
        link.rel = 'icon';
        link.type = 'image/png';
        link.href = '/index/favicon.png';
        document.head.appendChild(link);
    </script>

    <head>
        <title>Gamebar - <%- data.game %></title>
    </head>

    <body>
        <!-- Description + Changelog -->
        <div id="descField">
            <h2>Description</h2>
            <p><%- data.description %></p>
            <br>
            <br>
            <p id="signature">Developer: <%- data.developer %></p>
            <%- data.changelog %>
        </div>


        <!-- Middleground -->
        <div id="middleGround">
            <div id="middleBox">
                <h1><%- data.game %></h1>
                <%- data.preview %><br><br>
                    <%- data.playButton %>
            </div>
        </div>


        <!-- Guide -->
        <div id="guideField">
            <h2>Guide</h2>
            <p><%- data.guide %></p>
            <br><br><br><br><br><br><br>
            <%- data.specifics %>


        </div>



    </body>

    <script>
        // BUTTON HOVER EFFECT ↓↓↓
        let button = document.getElementById('button');
        button.addEventListener('mouseover', () => {
            button.style.transform = 'scale(0.95)';
            button.style.boxShadow = '0 0 10px #4d664d';
        });
        button.addEventListener('mouseout', () => {
            button.style.transform = 'scale(1)';
            button.style.boxShadow = 'none';
        });
    </script>

    </html>